{% extends "base_login.html" %}

{% block content %}
<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
</div>
<form class="user centerd_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        Login</br>
        {{ form.username }}
    </div>
    <div class="form-group">
        Password</br>
        {{ form.password }}
    </div>
    </br>
    <input type="submit" value="Zaloguj" class="btn btn-sm btn-primary shadow-sm submit_long_button">
    <input type="hidden" name="next" value="{{ next }}">
</form>
<hr>
<div class="text-center">
    <a class="small" href="{% url 'password_reset' %}">Forgot Password?</a>
</div>
<div class="text-center">
    <a class="small" href="../register">Create an Account!</a>
</div>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<div class="text-center">
    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}
</div>

{% endblock %}